* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Times New Roman;
}

body {
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-color: #f1f1f1;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-width: 250px;
  width: 100%;
  max-width: calc(400px + 6vw);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem 1.5rem;
  border: 1px solid #c5c5c5;
  border-radius: 0.5rem;
  margin: 1rem;
  backdrop-filter: blur(3px);
}

h2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 0.5rem auto !important;
  padding: 1rem;
  border-radius: 10px;
}

form select,
input,
button {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

#amount {
  margin: 0.5rem 0;
}

input {
  padding: 0.7rem 1.5rem;
  margin: 0.5;
  font-size: 1rem;
  border: 1px solid #c5c5c5;
  transition: 0.2s;
}
input:hover,
input:focus {
  box-shadow: 0 0 5px rgb(120, 189, 253);
}

#dropdown-container {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: 1px solid #c5c5c5;
}

.select-container img {
  border-radius: 10px;
  width: 2rem;
}

#get-rate-btn {
  background-color: #0485db;
  color: #fff;
  margin: 2rem 0;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 600;
  transition: 0.3s;
}

#get-rate-btn:hover {
  background-color: #057dce;
}
#get-rate-btn:focus {
  outline: 4px solid rgb(116, 207, 243);
}
#result p {
  font-weight: bold;
}

#swap-btn {
  font-size: larger;
  transition: 0.3s;
  padding: 0 15px;
}

.rotate {
  transform: rotate(180deg);
}
